@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
	height: 12rem;
}

/* Navbar Section */
.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 6.5rem;
	background: #73c2be;
	z-index: 100000;
}
.footNav {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 6.5rem;
	background: #73c2be;
	z-index: 100000;
}
.nav h2 {
	color: #f6f8fa; /* Text Color*/
	font-size: 1.7rem;
}
/* Sections */
#item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#item li {
	list-style: none;
	padding-right: 50px;
}

#item li a {
	text-decoration: none;
	color: #fff; /* Nav text Colors*/
	text-transform: uppercase;
	font-size: 1rem;
}

#item li a:hover,
#item li a.active,
#item i:hover {
	color: #04030f; /* Nav Hover Text Color */
	cursor: pointer;
}

#item i {
	padding-right: 30px;
	color: #04030f; /*Phone Nav Color Background */
	font-weight: bolder;
}
#bar {
	color: #04030f; /*Nav Three Lines When Device Width */
	font-weight: lighter;
	font-size: 1.5rem;
	position: absolute;
	top: 35%;
	right: 7%;
	display: none;
	cursor: pointer;
}
/* Img Section */
.back {
	background-image: url(img/abel-y-costa-lighthouse-unsplash.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	z-index: -1;
}
.back .overlay {
	/*background: #7f8c8d;  Color Of Background IMG*/
	width: 100%;
	height: 100%;
	opacity: 0.85;
}
/* First Section */
.mid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.mid p {
	color: #04030f; /* Text */
	font-size: 1.3rem;
	margin-bottom: 1.4rem;
}

.mid h2 {
	color: #5f1a37; /* Quote  */
	font-size: 3rem;
}
.mid .btn {
	margin-top: 2rem;
}
.mid .btn a {
	text-decoration: none;
	font-size: 1rem;
}
.mid .btn a.simple {
	color: #04030f;
	text-transform: uppercase;
	padding: 0.9rem 1.6rem;
	font-weight: 500;
}

.mid .btn a.simple:hover {
	color: #3f8b7e; /* BTN  */
}

.mid .btn a.border {
	color: #3f8b7e; /* BTN*/
	text-transform: uppercase;
	border: 2px solid #3f8b7e; /* BTN */
	border-radius: 3px;
	padding: 0.9rem 1.6rem;
}

.mid .btn a.border:hover {
	color: #3f8b7e; /* BTN*/
	border: 1px solid #04030f;
	background: #73c2be;
}
/* Second Section */
.details {
	width: 100%;
	background: #73c2be; /* BackGround */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8rem 15rem;
}

.details h3,
h6,
h5 {
	color: #fff; /* Text/Headers */
}

.details .one {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.details .one h3 {
	font-size: 2.5rem;
	margin-bottom: 1.1rem;
}

.details .one h6 {
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 1.2rem;
}
.details .one p {
	color: #5f1a37; /* Small Text */
	font-size: 1.2rem;
	margin-bottom: 3rem;
}

.details .one a {
	color: #fff; /* Text Color BTN*/
	background: #f13a11; /* Text Background Color*/
	padding: 1rem 0;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.details .one a:hover {
	color: #f13a11; /* Text color BTN*/
	background: #fff; /* Background Color BTN*/
}
.details .two {
	width: 45%;
	border-left: 1px solid #5f1a37; /* Small Text*/
	padding-left: 4rem;
}

.details .two h3 {
	font-size: 2.5rem;
}

.details .two h5 {
	font-size: 1.1rem;
}

.details .two p {
	font-size: 1.1rem;
	color: #5f1a37; /* Small Text*/
	margin-bottom: 0.8rem;
}
/* Third Section */
.agent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #fff; /* Background*/
	padding: 8rem 8rem;
}

.agent .about {
	width: 39%;
}

.agent .about h2 {
	color: #0c0c0c; /* Text Header*/
	font-size: 2.2rem;
	padding-bottom: 1.8rem;
}

.agent .about p {
	color: #7f8c8d; /* Text Paragraph*/
	font-size: 1.1rem;
}

.agent .people {
	width: 60%;
}

.agent .people {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 57%;
}
/* Card For About */
.agent .people .team1 {
	width: 45%;
	height: auto;
	box-sizing: border-box;
	background: #73c2be; /* Background Card*/
	box-shadow: 0 1.6px 3.6px rgba(119, 13, 13, 0.01),
		0 4.4px 10px rgba(0, 0, 0, 0.015), 0 10.6px 24.1px rgba(0, 0, 0, 0.02),
		0 35px 80px rgba(0, 0, 0, 0.03);
}

.agent .people .team1 .img img {
	width: 100%;
	object-fit: cover;
}
.agent .people .team1 .teamDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}
.agent .people .team1 .teamDetails .name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px 0 20px;
}
.agent .people .team1 .teamDetails .name h4 {
	color: #101011; /* Name On Card*/
	font-size: 1.5rem;
}
.agent .people .team1 .teamDetails .name i,
.agent .people .team1 .teamDetails .pro i {
	color: #776885;
	font-size: 1.3rem;
	font-weight: bolder;
	cursor: pointer;
}

.agent .people .team1 .teamDetails .pro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 5px 20px;
}
.agent .people .team1 .teamDetails .pro p {
	color: #776885;
}
/* Section 4 Plans */
.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 7rem 8rem;
}

.box p.paragraph {
	font-size: 1.3rem;
	color: #95a5a6; /* Small Text */
	text-align: center;
	padding-bottom: 6px;
}

.box h2.h2 {
	font-size: 2.2rem;
	font-weight: 700;
	color: #222; /* Header */
	text-align: center;
	padding-bottom: 50px;
}
.box .boxMenu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
/* Card For Plans */
.box .boxMenu .team1 {
	width: 32%;
	height: auto;
	box-sizing: border-box;
	background: #fff; /*Card Background */
	box-shadow: 0 1.6px 3.6px rgba(0, 0, 0, 0.01),
		0 4.4px 10px rgba(0, 0, 0, 0.015), 0 10.6px 24.1px rgba(0, 0, 0, 0.02),
		0 35px 80px rgba(0, 0, 0, 0.03);
}

.box .boxMenu .team1 .img img {
	width: 100%;
	object-fit: cover;
}
.box .boxMenu .team1 .teamDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}
.box .boxMenu .team1 .teamDetails .name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px 0 30px;
}
.box .boxMenu .team1 .teamDetails .name .nameDetails h4 {
	color: #1b1c1d; /* Header*/
	font-size: 1.7rem;
}
.box .boxMenu .team1 .teamDetails .name .nameDetails p {
	color: #363738; /* Sub-Header*/
	font-size: 1.1rem;
}
.box .boxMenu .team1 .teamDetails .name .nameDetails p span {
	font-weight: 700;
	font-size: 1.1rem;
}
.box .boxMenu .team1 .teamDetails .name .num h5 {
	background: #f13a11; /* Price */
	border-radius: 50%;
	font-size: 1rem;
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
}
.box .boxMenu .team1 .teamDetails .pro {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px 30px 30px 30px;
}
.box .boxMenu .team1 .teamDetails .pro p {
	color: #272525; /* Tex Card*/
	font-size: 1.1rem;
}

/* Contact Section */
.contact {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 8rem;
}

.contact .form {
	width: 45%;
}
.contact .form h2 {
	font-size: 2rem;
	color: #070e0c; /* Heading */
	padding-bottom: 10px;
	width: 100%;
}

.contact .form .submit {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.contact .form .submit input,
textarea {
	width: 100%;
	padding: 15px;
	border: 1px solid #1b1a1b; /* Border Box */
	outline: none;
	margin: 13px 0;
}
.contact .form .submit input:focus,
textarea:focus {
	border: 1px solid rgb(102, 9, 9); /* Border Box Clicked/Focus*/
}

.contact .form .submit input::placeholder {
	color: #0d3538; /* Place Holder */
	font-size: 1.1rem;
}
.contact .form .submit textarea {
	color: #1520b8; /* Text Area Color*/
	font-size: 1.1rem;
	height: 80%;
}

.contact .form a {
	width: 100%;
	padding: 15px 0;
	outline: none;
	margin: 13px 0;
	text-decoration: none;
	color: #fff; /* BTN Text*/
	background: #0b0c0c; /* BTN COlor*/
	text-align: center;
	font-size: 1.1rem;
}
/* Footer Section */
.footer {
	border-top: 1px solid #28363a; /* Border Line*/
	padding: 5rem 8rem;
	display: contents;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.footer p {
	color: #3ea1a8; /* Text */
	justify-content: flex-start;
}

.footer p i {
	color: rgb(13, 13, 14); /* Icons */
}
/* Media Sizes */
@media screen and (max-width: 1042px) {
	.nav {
		padding: 1rem 4.5rem;
	}

	.nav h2 {
		font-size: 1.4rem;
	}

	#item li {
		padding-right: 30px;
	}

	#item li a {
		font-size: 0.9rem;
	}

	#item i {
		padding-right: 20px;
	}
}

@media screen and (max-width: 991px) {
	.nav {
		padding: 1rem 3rem;
	}
	.nav h2 {
		font-size: 1.6rem;
	}
	#item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		position: fixed;
		top: 0;
		right: -300px;
		width: 300px;
		height: 100vh;
		background: rgba(0, 0, 0, 0.8);
		z-index: 10000;
		margin-top: 4.2rem;
		transition: 0.5s;
	}

	#item li {
		padding-right: 0;
		padding: 4px 0;
	}

	#item li a {
		font-size: 1.2rem;
	}

	#item .icons {
		padding-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#item .icons i {
		padding: 0 15px 0 15px;
	}

	#bar {
		display: initial;
	}

	.mid p {
		font-size: 1.1rem;
		margin-bottom: 1.2rem;
	}

	.mid h2 {
		font-size: 2.5rem;
	}
	.mid .btn {
		margin-top: 1.5rem;
	}
	.mid .btn a {
		font-size: 0.9rem;
	}
	.mid .btn a.simple {
		padding: 0.7rem 1.4rem;
	}

	.mid .btn a.border {
		padding: 0.7rem 1.4rem;
	}

	.details {
		padding: 6rem 7rem;
	}
	.details .one {
		width: 50%;
	}

	.details .one h3 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.details .one h6 {
		font-size: 1.3rem;
		font-weight: 400;
		margin-bottom: 1.2rem;
	}
	.details .one p {
		font-size: 1.1rem;
		margin-bottom: 2.2rem;
	}

	.details .one a {
		font-size: 0.9rem;
	}

	.details .two {
		padding-left: 3.5rem;
	}

	.details .two h3 {
		font-size: 2rem;
	}

	.details .two h5 {
		font-size: 1rem;
	}

	.details .two p {
		font-size: 1rem;
		margin-bottom: 0.6rem;
	}
	.agent {
		padding: 6rem 7rem;
	}

	.agent .about h2 {
		font-size: 2rem;
		padding-bottom: 1.4rem;
	}

	.agent .about p {
		font-size: 1rem;
	}

	.agent .people .team1 {
		width: 48%;
	}

	.agent .people .team1 .teamDetails .name {
		padding: 5px 15px 0 15px;
	}
	.agent .people .team1 .teamDetails .name h4 {
		font-size: 1.1rem;
	}
	.agent .people .team1 .teamDetails .name i,
	.agent .people .team1 .teamDetails .pro i {
		font-size: 1.1rem;
	}

	.agent .people .team1 .teamDetails .pro {
		padding: 0 15px 5px 15px;
	}
	.agent .people .team1 .teamDetails .pro p {
		color: #212529;
		font-size: 0.9rem;
	}

	.agent .people .team2 {
		width: 48%;
	}

	.agent .people .team2 .teamDetails .name {
		padding: 5px 15px 0 15px;
	}
	.agent .people .team2 .teamDetails .name h4 {
		font-size: 1.1rem;
	}
	.agent .people .team2 .teamDetails .name i,
	.agent .people .team2 .teamDetails .pro i {
		font-size: 1.1rem;
	}

	.agent .people .team2 .teamDetails .pro {
		padding: 0 15px 5px 15px;
	}
	.agent .people .team2 .teamDetails .pro p {
		font-size: 0.9rem;
	}

	.box {
		padding: 6rem;
	}

	.box p.paragraph {
		font-size: 1.1rem;
		padding-bottom: 4px;
	}

	.box h2.h2 {
		font-size: 2rem;
		padding-bottom: 30px;
	}

	.box .boxMenu .team1 .teamDetails {
		padding-bottom: 7px;
	}
	.box .boxMenu .team1 .teamDetails .name {
		padding: 5px 15px 0 15px;
	}
	.box .boxMenu .team1 .teamDetails .name .nameDetails h4 {
		font-size: 1.2rem;
	}
	.box .boxMenu .team1 .teamDetails .name .nameDetails p {
		font-size: 1rem;
	}
	.box .boxMenu .team1 .teamDetails .name .nameDetails p span {
		font-size: 1rem;
	}
	.box .boxMenu .team1 .teamDetails .name .num h5 {
		font-size: 0.9rem;
		width: 3.2rem;
		height: 3.2rem;
		line-height: 3.2rem;
	}
	.box .boxMenu .team1 .teamDetails .pro {
		padding: 15px 15px 30px 15px;
	}
	.box .boxMenu .team1 .teamDetails .pro p {
		font-size: 1rem;
	}
	.contact {
		padding: 6rem;
	}
	.contact .form h2 {
		font-size: 2rem;
		padding-bottom: 7px;
	}

	.contact .form .submit input,
	textarea {
		padding: 12px;
		margin: 10px 0;
	}

	.contact .form .submit input::placeholder {
		font-size: 1rem;
	}
	.contact .form .submit textarea {
		font-size: 1rem;
	}

	.contact .form a {
		padding: 13px 0;
		margin: 10px 0;
		font-size: 1rem;
	}

	.contact .map h2 {
		font-size: 2rem;
		padding-bottom: 7px;
	}

	.contact .map p {
		font-size: 1rem;
		padding-bottom: 20px;
	}
	.contact .map p i {
		padding-right: 4px;
	}
	.footer {
		padding: 6rem;
	}
}

@media screen and (max-width: 768px) {
	.nav h2 {
		font-size: 1.5rem;
	}

	.back {
		background-position: center;
	}

	.mid p {
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.mid h2 {
		font-size: 2.1rem;
	}
	.mid .btn {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.mid .btn a {
		font-size: 0.9rem;
	}
	.mid .btn a.simple {
		padding: 0.7rem 1.4rem;
		margin-bottom: 7px;
	}

	.details {
		padding: 5rem 2rem;
		flex-direction: column;
		justify-content: center;
	}
	.details .one {
		width: 70%;
	}

	.details .one a {
		font-size: 1rem;
	}

	.details .two {
		padding-left: 0;
		border-left: 0;
		border-top: 1px solid #666262;
		width: 70%;
		margin-top: 1.7rem;
		padding-top: 1.7rem;
	}

	.agent {
		padding: 5rem 2rem;
		flex-direction: column;
		justify-content: center;
	}

	.agent .about {
		width: 70%;
		margin-bottom: 1.7rem;
	}

	.agent .about h2 {
		font-size: 2.1rem;
	}

	.agent .about p {
		font-size: 1.1rem;
	}

	.agent .people {
		width: 70%;
	}

	.box {
		padding: 6rem;
	}

	.box .boxMenu {
		flex-direction: column;
		justify-content: center;
	}

	.box .boxMenu .team1 {
		width: 65%;
		margin-bottom: 20px;
	}

	.contact {
		padding: 5rem 2rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact .form {
		width: 70%;
	}

	.contact .form h2 {
		font-size: 2.5rem;
	}

	.contact .map {
		width: 60%;
		margin-top: 20px;
		margin: auto;
	}

	.footer {
		padding: 5rem 2rem;
		flex-direction: column;
		justify-content: center;
	}
}

@media screen and (max-width: 496px) {
	.nav h2 {
		font-size: 1.5rem;
	}

	.mid p {
		margin-bottom: 0.8rem;
	}

	.mid h2 {
		font-size: 1.8rem;
	}

	.details {
		padding: 4rem 1rem;
		flex-direction: column;
		justify-content: center;
	}
	.details .one {
		width: 100%;
	}
	.details .two {
		width: 100%;
	}

	.agent {
		padding: 4rem 1rem;
	}

	.agent .about {
		width: 100%;
	}

	.agent .people {
		width: 80%;
		flex-direction: column;
		justify-content: center;
	}
	.agent .people .team1 {
		width: 100%;
		margin-bottom: 20px;
	}

	.agent .people .team2 {
		width: 100%;
	}

	.box {
		padding: 4rem 1rem;
	}

	.box .boxMenu {
		flex-direction: column;
		justify-content: center;
	}

	.box .boxMenu .team1 {
		width: 100%;
	}

	.contact {
		padding: 4rem 1rem;
	}
	.contact .form {
		width: 100%;
	}

	.contact .map {
		width: 100%;
	}

	.footer {
		padding: 5rem 2rem;
		flex-direction: column;
		justify-content: flex-start;
	}
}
