<html>
  <head>
    <style>
      body { background-color: aqua; text-align: center; }
    </style>
  </head>
  <body>
    <h1>You Have Received a New Message</h1>
    <p>The message has come from </p>
    <h3>Name of the person</h3>
    <!-- Indent his p -->
    <p>Hello my name is {{name}}</p>
    <h3>The message send by {{name}} is :</h3>
    <!-- Indent this p -->
    <p>{{company}}</p>
    <h3>My last insurance company was:</h3>
    <p>{{company}}</p>
  </body>
</html>