extends layout

block layout-content
    header
        div.title
            span Perry Morrison
    div
        img(src='./family.jpg' style='width:100px; height:100px;')
    div.one-col
        h1 Thanks For Choosing Me
        p  Hello, name we just receive your message. I wanted to thank you for chosse me as an option for your problem. Here is the information that you send me.
        ul.list
            li Name: 
            li.formInfo #{fullName}
            li Email: 
            li.formInfo #{email}
            li Coverage
            li.formInfo #{coverage}
            li Message
            li.formInfo #{message}
        p We will be sending a relpy within 24 hours.
        hr
        footer 
            ul.contact 
                li Logan UT
                li 1234n 123w ,84321
                li perris@gmial.com