.heroTitle {
  font-family: "Ubuntu", sans-serif;
  color: #f6f8fa; /* Text Color*/
  font-size: 1.9rem;
  position: fixed;
  display: contents;
}

.logo {
  width: 450px;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background: #73c2be;
  z-index: 10;
}

.navbar h2 {
  color: #f6f8fa; /* Text Color*/
  font-size: 1.7rem;
  font-family: "Ubuntu", sans-serif;
}

.bar {
  color: #04030f; /*Nav Three Lines When Device Width */
  font-weight: lighter;
  font-size: 1.5rem;
  position: absolute;
  top: 35%;
  right: 7%;
  display: none;
  cursor: pointer;
}

.nav-show {
  right: 0px;
}

@media screen and (max-width: 1042px) {
  .navbar {
    padding: 1rem 4.5rem;
  }

  .navbar h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 1rem 3rem;
  }

  .navbar h2 {
    font-size: 1.6rem;
  }

  .icons {
    display: none;
  }

  .bar {
    display: initial;
  }
}

@media screen and (max-width: 768px) {
  .navbar h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 496px) {
  .navbar h2 {
    font-size: 1.5rem;
  }
}
