/* .back {
  background-image: url(../../assets/lighthouse.jpg);
  width: 100%;
  height: 100vh;
   background-size: cover;
  z-index: -1;
}
.overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0.1;
} */
section {
  position: relative;
}

img {
  width: 100%;
}

/* First Section light house and text */
.section-text {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section-text p {
  color: #5f1a37; /* Text */
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}

.section-text h2 {
  color: #5f1a37; /* Quote  */
  font-size: 3rem;
}

.emphasis {
  font-size: 1.2em;
  text-decoration: underline;
  text-shadow: 2px 2px #fff;
}

@media screen and (max-width: 1042px) {
  .section-text {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .section-text {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .section-text p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
  }

  .section-text h2 {
    font-size: 2.5rem;
  }
  .section-text .btn {
    margin-top: 1.5rem;
  }
  .section-text .btn a {
    font-size: 0.9rem;
  }
  .section-text .btn a.simple {
    padding: 0.7rem 1.4rem;
  }

  .section-text .btn a.border {
    padding: 0.7rem 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .back {
    background-position: center;
  }
  .section-text {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .section-text p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .section-text h2 {
    font-size: 2.1rem;
  }
  .section-text .btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-text .btn a {
    font-size: 0.9rem;
  }
  .section-text .btn a.simple {
    padding: 0.7rem 1.4rem;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 496px) {
  .section-text p {
    margin-bottom: 0.8rem;
  }

  .section-text h2 {
    font-size: 1.8rem;
  }
}
